/* Variables */
$text-color: #fff;
$border-color: #D9D9D9;
$bck-color: rgba(150, 36, 85, 0.9);
$header-bck-color: #000;
$link-color: #962455;
$sec_bck_color: #e8d5df;


* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/images/lights_two.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #ccc;
    background-size: cover;
    min-height: 1000px;
    height: auto;
    font-family: "Open Sans", sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px $border-color;
    background: $header-bck-color;

    a{
        text-decoration: none;
        color:#fff;
        font-size: 25px;
        transition: all 0.3s ease 0s;

        &:hover{
            color: $link-color;
        }
    }

    #title{
        color: $text-color;
        margin-right: auto;
    }

    li{
        list-style: none;
        display: inline-block;
        padding: 0 20px;

        a{
            text-decoration: none;
            color:#fff;
            font-size: 25px;
            transition: all 0.3s ease 0s;

            &:hover{
                color: $link-color;
            }
        }
    }
}

main{
    margin: 50px;
    padding: 20px;

    a{
        text-decoration: none;
        color:#fff;
        font-size: 25px;
        transition: all 0.3s ease 0s;

        &:hover{
            color: $link-color;
        }
    }

    .hide{
        display: none;;
    }

    .show{
        display: block;
    }

    h1{
        color: #fff;
        text-align: center;
        font-size: 45px;
        margin-bottom: 50px;
    }

    h2{
        color: #fff;
        font-size: 35px;
        margin-bottom: 15px;
    }

    p, .default_text{
        font-size: 18px;
        color: #fff;
    }

    .button, .button-primary{
        font-size:25px;
        position: absolute;
        bottom: 20px;
        border-radius: 10px;
        padding: 15px;
        background-color: #e8d5df;

        &.relative{
            position: relative;
            bottom: 0;
            margin-top: 20px;
        }
    }

    .wrapper, .box{
        border: #fff 5px solid;
        border-radius: 10px;
        background: rgba(150, 36, 85, 0.9);
        padding: 20px;
        margin: 20px;
        position: relative;

        .profileInfo{
            padding: 20px;
            margin-bottom: 30px;
        }

        .addressBlock{
            display: flex;
            flex-wrap: wrap;
            margin: 30px 30px 0 0;

            .address{
                padding-right: 30px;
                padding-bottom: 30px;
            }
        }

        .formField{

            .label{
                color: #fff;
                font-size: 25px;
                min-width: 150px;
                display: inline-block;
                padding: 10px;
                width: 200px;
            }

            .input{
                padding: 10px;
                background: #D9D9D9;
                border: none;
                border-radius: 15px;
                min-width: 200px;
                width: 200px;

            }

            select{
                width: 220px!important;
            }

            &:last-of-type{
                margin-bottom: 100px;
            }
        }
    }

    #loginPage{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        
    }
}