<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groove Guide VIP Membership</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1 id="title">
      <a href="/">Groove Guide VIP Member View</a>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/member">Member Access</a>
        </li>
        {{#if logged_in}}
        <li>
          <a href="" id="logoutButton">Logout</a>
        </li> 
        {{else}}
        <li>
          <a href="/login">Login</a>
        </li>  
        {{/if}}
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    <!-- contents sublayout -->
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
  <script src="/js/navbar.js"></script>
  <script>
    /*
        document.getElementById('homeButton').addEventListener('click', function(event) {
            event.preventDefault();
            // Check if user is logged in
            const isLoggedIn = {{#if logged_in}}true{{else}}false{{/if}};
            if (isLoggedIn) {
                window.location.replace('/member');
            } else {
                window.location.replace('/');
            }
        });
        */
    </script>
</body>

</html>
