<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Groove Guide VIP Membership</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1 id="title">
      Groove Guide VIP Member View
    </h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/members">Member Access</a>
        </li>
        <li>
          <a href="/login">Login</a>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    <!-- contents sublayout -->
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
