<section id="loginPage">
    <!-- Sign-In Section -->
    <div class="login box">
        <h2>VIP Members Log-in</h2>
        <form action="/signin" method="POST">
            <div class="formField">
                <label for="memberId" class="label">Member ID:</label>
                <input type="text" id="memberId" name="memberId" class="input" required>
            </div>

            <div class="formField">
                <label for="vipPassword" class="label">VIP Password:</label>
                <input type="password" id="vipPassword" name="vipPassword" class="input" required>
            </div>

            <button class="button" type="submit">Sign In</button>
        </form>
    </div>

    <!-- Sign-Up Section -->
    <div class="signUp box">
        <h2>Not a member? Sign up!</h2>
        <form action="/signup" method="POST">
            <div class="formField">
                <label for="email" class="label">Email:</label>
                <input type="email" id="email" name="email" class="input" required>
            </div>

            <div class="formField">
                <label for="password" class="label">Password:</label>
                <input type="password" id="password" name="password" class="input" required>
            </div>            
            <button class="button" type="submit">Sign Up</button>
        </form>
    </div>
</section>

<script src="/js/login.js"></script>