<div class="wrapper">
    <h1>Welcome {{name}}!</h1>

    <p>You will able to access your member pages from your dashboard and also add/update your contact information.</p>

    <button id="add-contact-info" class="button">Add your contact information!</button>

    <form class="" id="" name="add-contact-form">
        <div class="formField">
            <label for="member_address_1" class="label">Address 1</label>
            <input type="text" class="form-control input" id="member_address_1" name="name" required>
        </div>
        <div class="formField">
            <label for="member_address_2" class="label">Address 2</label>
            <input type="text" class="form-control input" id="member_address_2" name="name">
        </div>

        <div class="formField">
            <label for="member_city" class="label">city</label>
            <input type="text" class="form-control input" id="member_city" name="name">
        </div>
            
        <div class="formField">
            <label for="member_state" class="label">State</label>
            <input type="text" class="form-control input" id="member_state" name="name">
        </div>

        <div class="formField">
            <label for="member_country" class="label">Country</label>
            <input type="text" class="form-control input" id="member_country" name="name">
        </div>
        
        <input type="submit" value="Submit" />
        
    </form>
</div>
